body {
  font-family: 'Quicksand', sans-serif;
  color: #5EC1A2;
  background-color: #242421;

}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  padding: 17px;
}
.menu {
  align-self: center;
  font-size: 30px;
}

.footer {
  align-self: flex-end;
  padding: 17px;
}

.music-content {
  padding-left: 150px;
    padding-right: 150px;
}

.transition-fade {
  transition: 1s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
