body {
  background-color: #242421;
  font-family: "Quicksand", sans-serif;
  color: #ff7a7a;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}
section {
  margin-top: 50px;
}
a {
  color: #ffff;
}

.social-links {
  padding-top: 17px;
}

.subcolor {
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.code > div {
  display: flex;
}

.code-content {
  /* border: 1px solid; */
  max-width: 23.8%;
}

.code-content > * {
  margin: 10px;
}

.code-content > img {
  width: 100%;
  padding-right: 1%;
}

section.photo img:not(:last-child) {
  padding-right: 1%;
}

.code-content .title {
  font-size: 20px;
}

.code-content .subtitle {
  color: #62ffa1;
}

.code-content .description {
  color: #ffff;
}

.header .titles {
  margin: auto 0;
}

.header .subtile {
  margin-right: 50px;
}

.profile-picture > img {
  width: 256px;
  margin: auto;
}

section.photo img {
  width: 23.8%;

  margin: auto;
}

section.photo img:not(:last-child) {
  padding-right: 1%;
}

section.music iframe {
  width: 23.8%;
  height: 500px;
}

section.music iframe:not(:last-child) {
  padding-right: 1%;
}

@media only screen and (min-width: 1077px) {
}

@media only screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }

  .profile-picture > img {
    width: 120px;
    margin: auto;
  }
}
